body {
  color: black;
  background-color: #ffe;
  margin-left: 15px;
  margin-right: 5px;
  font-family: serif;
}

h1, h2, h3 {
  font-weight: bold;
  color: #008;
}

h1 {
  font-size: xx-large;
  margin-top: 12px;
  margin-bottom: 6px;
}

#pagehead {
 margin-left: 130px;
 margin-bottom: 20px;
}

p#logo {
 position: absolute;
 left: 15px;
 top: 0px;
 margin-top: 0px;
}

h2 {
  font-size: x-large;
  margin-top: 12px;
  margin-bottom: 6px;
}
h3 {
  margin-top: 9px;
  margin-bottom: 3px;
}
p {
  margin-top: 6px;
  margin-bottom: 3px;
  max-width: 60em;
}

.fineprint {
  font-size: x-small;
}

blockquote {
  max-width: 40em;
}

table {
  border-width: 0px;
  margin-left: 0px;
  margin-right: 6px;
}
table#prereq {
  border: 2px solid #448;
  margin-top: 9px;
  margin-bottom: 9px;
}
table#prereq th {
  text-align: left;
 }
td, th {
  padding-left: 12px;
  padding-right: 12px;
  max-width: 55em;
}
tfoot {
 font-style: italic;
 font-size: small;
}
th, tfoot td {
  background-color: #ffc;
}

ul, dl {
  margin-top: 9px;
  margin-bottom: 9px;
  max-width: 60em;
}
ul li {
  margin-top: 3px;
  margin-bottom: 3px;
  margin-left: -6px
}
pre {
  margin-top: 3px;
  margin-bottom: 3px;
  margin-left: 0px;
}

img {
  margin: 20px;
  float: right;
  clear: right;
}